/* .timeNow {
    appearance: none;
    border: none;
    margin-bottom: 24px;
    outline: none;
    font-family: "Roboto", sans-serif;
    color: #407BFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
} */