/* Мобільні пристрої (мінімальна ширина 320px, до 767px) */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalcontent {
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 20px;
  border: 1px solid #888;
  width: 280px;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 544px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

.fotoOfUser {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.titleOfModalSettings {
  margin-bottom: 24px;
}

.uploadAPhoto {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 8px 0 24px;
}

.textUploadAPhoto,
.iconOfUploadAPhoto {
  font-size: 18px;
  color: #407bff;
  font-weight: 500;
}

.genderBlock {
  width: 181px;
}

.genderradiobutton {
  display: flex;
  gap: 8px;
  margin: 12px 0 24px;
}

.genderOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.genderInput {
  cursor: pointer;
  accent-color: #407bff;
  margin-right: 4px;
}

label {
  margin-bottom: 0;
}

.titels,
.labelTitle {
  font-weight: 500;
  font-size: 18px;
}

.textInputArea {
  color: #407bff;
  outline: none;
  border: 0;
  width: 100%;
  height: 100%;
}

.textInputAreaPassword {
  color: #9ebbff;
  outline: none;
  border: 0;
  width: 100%;
  height: 100%;
  width: 100%;
  height: 100%;
}

input[type="password"]::placeholder {
  color: #9ebbff;
}

.wrapperForInput {
  color: #9ebbff;
  border: 1px solid #d7e3ff;
  width: 256px;
  padding: 8px;
  margin: 6px 0 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.wrapperForInput:focus-within {
  border: 2px solid #407bff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapperForNameAndPassword {
  display: flex;
  flex-direction: column;
}

.saveButton {
  width: 100%;
  height: 44px;
  padding: 8px 30px;
  border-radius: 10px;
  background-color: #407bff;
  color: white;
  border: none;
  cursor: pointer;
}

.wrapperForPasswordField,
.wrapperForBlockOne {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.eyeIcon,
.cross {
  color: #407bff;
  cursor: pointer;
}

.hiddenFileInput {
  display: none;
  /* Приховуємо інпут */
}

.uploadButton {
  display: flex;
  gap: 8px;
  cursor: pointer;
  align-items: center;
}

.textUploadAPhoto {
  font-size: 18px;
  color: #407bff;
  font-weight: 500;
}

.defoltAvatarOfUser {
  border-radius: 50%;
  background-color: #407bff;
  height: 80px;
  width: 80px;
}

.firstSimbolOfEmail {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d7e3ff;
  font-size: 35px;
}

/* Планшети (768px - 1023px) */
@media (min-width: 768px) {
  .modalcontent {
    width: 704px;
    margin-top: 42px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 464px;
  }

  .genderradiobutton {
    margin: 12px 0 24px;
  }

  .wrapperForInput {
    width: 392px;
  }

  .saveButton {
    width: 160px;
    margin-left: auto;
  }
}

/* Десктопи (1024px і більше) */
@media (min-width: 1024px) {
  .modalcontent {
    width: 1008px;
    min-width: 1008px;
    max-width: 65%;
    margin-top: 102px;
    margin-bottom: 104px;
  }

  .wrapperForNameAndPassword {
    flex-direction: row;
    gap: 24px;
  }

  .saveButton {
    width: 160px;
    margin-left: auto;
  }
}
