.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #407bff;
  margin-bottom: 12px;
}

.progressContainer {
  width: inherit;
  position: relative;
}

.progressBarContainer {
  padding-left: 10px;
  padding-right: 10px;
}

.progressBar {
  width: inherit;
  height: 8px;
  border-radius: 10px;
  background: rgba(215, 227, 255, 1);
  position: relative;
  margin-bottom: 4px;
}

.progressCompleted {
  height: 8px;
  border-radius: 10px;
  background: rgba(158, 187, 255, 1);
  position: absolute;
}

.percentageMarker {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #407bff;
  position: absolute;
  top: -3px;
  right: -7px;
}

.percentageText {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  color: #2f3875;
  position: absolute;
  bottom: 15px;
  right: -50%;
}

.scaleContainer {
  display: flex;
  justify-content: space-between;
  width: inherit;
  align-items: start;
}

.scaleTick {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scaleTick:first-child {
  align-items: flex-start;
}

.scaleTick:last-child {
  align-items: flex-end;
}

.scaleTick::before {
  content: "";
  width: 1px;
  height: 8px;
  background-color: #d7e3ff;
}

.scaleText {
  font-size: 12px;
  color: #407bff;
}

.scaleTick:first-child .scaleText {
  transform: translateX(-50%);
  margin-top: 4px;
}

.scaleTick:last-child .scaleText {
  transform: translateX(50%);
  margin-top: 4px;
}

.scaleTextBold {
  font-size: 16px;
  font-weight: 500;
  color: #407bff;
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 22px;
    align-items: center;
  }

  .title {
    margin-bottom: 16px;
  }

  .progressContainer {
    width: 356px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    margin-bottom: 16px;
  }
  .wrapper {
    gap: 34px;
  }

  .progressContainer {
    width: 380px;
  }
  .marginSection {
    margin-top: 24px;
  }
}
