.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    color: #407BFF;
    margin-bottom: 28px;
}

.progressContainer {
    margin: 0 auto;
    width: 256px;
    position: relative;
}

.progressBar {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background: #2A3052;
    position: relative;
    margin-bottom: 4px;
}

.progressCompleted {
    height: 8px;
    border-radius: 10px;
    background: #2F3875;
    position: absolute;
}

.percentageMarker {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #407BFF;
    position: absolute;
    top: -3px;
    right: 0;
}

.percentageText {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
    color: #2F3875;
    position: absolute;
    bottom: 15px;
    right: -50%;
}

.scaleContainer {
    display: flex;
    justify-content: space-between;
}

.scaleTick {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scaleTick:first-child {
    align-items: flex-start;
}

.scaleTick:last-child {
    align-items: flex-end;
}

.scaleTick::before {
    content: "";
    width: 1px;
    height: 8px;
    background-color: #2A3052;
}

.scaleText {
    font-size: 12px;
    color: #407BFF;
}

.scaleTick:first-child .scaleText {
    transform: translateX(-50%);
}

.scaleTick:last-child .scaleText {
    transform: translateX(50%);
}

.scaleTextBold {
    font-size: 16px;
    font-weight: 500;
    color:#407BFF;
}

@media screen and (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        gap: 32px;
    }

    .title {
        margin-bottom: 10px;
    }

    .progressContainer {
        width: 325px;
        transform: translateY(50%);
    }
}

@media screen and (min-width: 1440px) {
    .wrapper {
        gap: 43px;
    }

    .progressContainer {
        width: 360px;
    }
}