::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: var(--light-blue);
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--medium-blue);
}

.container {
  margin: 0 auto 24px;
}

.loading {
  height: 297px;
}

.title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: var(--black);
}
.list {
  height: 212px;
  margin-bottom: 12px;
  overflow-y: auto;
}
.item {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: 1px solid var(--medium-blue);
}
.icon {
  margin-right: 12px;
  color: var(--blue);
}
.amount {
  margin-right: 12px;
  font-size: 18px;
  line-height: 1.33333;
  color: var(--blue);
}
.time {
  font-size: 12px;
  line-height: 2;
  color: var(--black);
}
.btnAdd,
.btnDelete,
.btnEdit {
  display: block;
  padding: 2px;
  border: none;
  background-color: transparent;
}
.btnEdit {
  margin-left: auto;
  margin-right: 12px;
  color: var(--medium-blue);
}
.btnDelete {
  color: var(--red);
}
.btnDelete:hover,
.btnDelete:focus {
  border-bottom: 1px solid var(--red);
}
.btnEdit:hover,
.btnEdit:focus {
  border-bottom: 1px solid var(--medium-blue);
}
.btnAdd {
  display: flex;
  gap: 8px;
  color: var(--blue);
  font-weight: 500;
  font-size: 16px;
}

.btnAdd:hover,
.btnAdd:focus {
  color: var(--orange);
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 26px;
    line-height: 1.23077;
  }
  .btnAdd {
    font-size: 18px;
  }
}
