.water_month_section {
    max-width: 264px;
    background-color: #ecf2ff;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width:768px) {
        max-width: 656px;
    }

    @media screen and (min-width:1440px) {
        max-width: 544px;
    }
}

.section_title {
    font-weight: var(--font-weight-medium);
    font-size: 24px;
    line-height: 1.25;
    color: var(--black-color);

    @media screen and (min-width:768px) {
        font-size: 26px;
        line-height: 1.23077;
    }

}

.title_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar_list {
    display: flex;
    align-items: center;
    row-gap: 16px;
    column-gap: 26px;
    flex-wrap: wrap;

    @media screen and (min-width:768px) {
        row-gap: 20px;
        column-gap: 34px;
    }

    @media screen and (min-width:1440px) {
        column-gap: 22px;
    }
}

.pagination {
    display: flex;
    gap: 12px;
}

.pagination_btn {
    width: 14px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.pagination_btn:disabled {
    cursor: not-allowed;
    opacity: 0;
}


.pagination_icon {
    width: 14px;
    height: 14px;
    fill: var(--blue-color);
}

.date {
    line-height: 1.25;
    text-align: center;
    color: var(--blue-color);
    width: 124px;
}
