/* @media (max-width: 767px) { */
/* .containerBackground {
  position: absolute;
  width: 100%;
  height: 582px;
  left: 0;
  top: 109px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;
} */

/* .wrap_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 66px;
} */

/* .containerImageBottle {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  order: 2;
} */

.wrap_form {
  /* order: 1;
  width: 100%; */
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* align-items: center; */
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.title {
  color: rgb(47, 47, 47);
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: flex-start; */
  gap: 8px;
  /* padding: 0px;
  padding-bottom: 8px; */
  margin-bottom: 8px;

  color: rgb(47, 47, 47);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}
.errorText {
  color: rgb(239, 80, 80);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}

.errorField {
  color: rgb(239, 80, 80) !important;
  border: 1px solid rgb(239, 80, 80) !important; /* Використання !important для переважання інших стилів */
}

.field {
  width: 100%;
  height: 40px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10; */
  padding: 12px 10px 12px 10px;

  /* box-sizing: border-box; */
  /* Secondary color / 5 */
  border: 1px solid rgb(215, 227, 255);
  border-radius: 6px;

  /* Primery Color/White */
  background: transparent;
  outline: transparent;

  &::placeholder {
    color: rgb(158, 187, 255);
    opacity: 1;
  }
}
.inputWrapper {
  position: relative;
}

.iconWrapper {
  position: absolute;
  top: 59%;
  right: 10px;
  cursor: pointer;
}

.icon {
  color: rgb(64, 123, 255);
}

.btn {
  padding: 10px 30px;
  width: 280px;
  height: 36px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background-color: #407bff;
  border: none;

  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #fff;
  line-height: 1.33333;
}

.btn:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.btn:active {
  box-shadow: none;
}

/* .btn {
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
  background: rgb(64, 123, 255);
  border-radius: 10px;
  padding: 10px 30px;
  width: 100%;
  height: 36px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33em;
  text-align: center;
  color: #ffffff;
} */
/* } */

@media (min-width: 768px) {
  /* .wrap_section {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; 
  } */

  /* .containerImageBottle {
    Frame
    position: absolute;
    width: 736px;
    height: 548px;
    left: 112px;
    top: 116px;
  } */

  .wrap_form {
    /* position: absolute; */
    width: 384px;
    /* height: 312px; */
    /* left: 32px;
    top: 104px; */
  }

  .btn {
    width: 100%;
    height: 44px;
  }
}

@media (min-width: 1440px) {
  /* .wrap_section { 
    Background element Main Page 
    position: absolute; 
    width: 1404px; 
    height: 582px; 
    left: 18px;
    top: 109px;
    display: flex; 
  flex-direction: row-reverse;
  } */

  /* .containerImageBottle {
    Frame
    position: absolute;
    width: 916px;
    height: 680px;
    left: -51px;
    top: 80px;
  } */

  .wrap_form {
    margin-top: 162px;
    margin-left: 728px;
    /* Sign In */
    /* flex-direction: column;
    width: 384px;
    height: 32px; */
    /* Auto layout */

    /* gap: 16;
    padding: 0px; */

    /* Inside Auto Layout */

    /* order: 0;
    flex-grow: 0;
    margin: 16px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
}
