.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000CC;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  width: 280px;
  height: 260px;
  padding: 32px 24px;
  gap: 24px;
  border-radius: 10px;
  position: fixed; 
  left: 50%; 
  top: 80px; 
  transform: translateX(-50%); 
  opacity: 1; 
  display: flex; 
  flex-direction: column; 
}

.modalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalTitle {
  font-family: Roboto;
  font-size: 26px;
  font-weight: 500; 
  color: #2F2F2F;
}

.modalClose {
  padding: 0;
  color: #407BFF; 
  background: transparent;
  width: 24px;
  height: 24px;
  justify-content: center;
}

h2 {
  font-weight: 500;
  display: flex;
  font-size: 18px;
  line-height: 20px;
  color: #2F2F2F;
  margin: 0;
}

.modalButtons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modalButtons button {
  width: 232px;
  height: 36px;
  padding: 8px 30px;
  border-radius: 10px;
}

.logoutButton {
  background: #EF5050;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  order: 1;
  border-color: transparent; 
  box-shadow: 0px 4px 10px 0px rgba(64, 123, 255, 0.34);
}

.cancelButton {
  background: #D7E3FF;
  color: #407BFF;
  font-family: Roboto;
  font-size: 16px;
  order: 2; 
  border-color: transparent;
}

.modalButtons button {
  width: 232px;
  height: 36px;
  padding: 8px 30px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

/* Тінь для кнопки Log out */
.logoutButton {
  background: #EF5050;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  order: 1;
  border-color: transparent;
  box-shadow: 0px 4px 10px 0px rgba(64, 123, 255, 0.34);
  transition: box-shadow 0.3s ease;
}

.modalButtons button {
  width: 232px;
  height: 36px;
  padding: 8px 30px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.logoutButton {
  background: #EF5050;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 16px;
  border-color: transparent;
  box-shadow: 0px 4px 10px 0px rgba(64, 123, 255, 0.34);
  transition: box-shadow 0.3s ease;
  font-weight: 500;
}


.cancelButton {
  background: #D7E3FF;
  color: #407BFF;
  font-family: Roboto;
  font-size: 16px;
  border-color: transparent;
  transition: box-shadow 0.3s ease;
  font-weight: 500;
}

.cancelButton:hover {
  box-shadow: 0px 4px 10px 0px rgba(64, 123, 255, 0.34);
  cursor: pointer;
}

.cancelButton:hover~.logoutButton {
  box-shadow: none;
}

.logoutButton:hover {
  box-shadow: 0px 4px 10px 0px rgba(64, 123, 255, 0.5);
  cursor: pointer;
}

.logoutButton:hover~.cancelButton {
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .modalContent {
    width: 592px;
    height: 208px;
    padding: 32px 24px;
    gap: 24px;
    border-radius: 10px; 
    background-color: white; 
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%; 
    top: 200px; 
    transform: translateX(-50%); 
    opacity: 1; 
  }

  .modalButtons {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    flex-direction: row;
  }

  .modalButtons button {
    width: 160px;
    height: 44px;
    border-radius: 10px;
    cursor: pointer;
  }

  .logoutButton {
    background: #EF5050;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    border-color: transparent; 
    box-shadow: 0px 4px 10px 0px rgba(64, 123, 255, 0.34);
  }

  .cancelButton {
    background: #D7E3FF;
    color: #407BFF;
    font-family: Roboto;
    font-size: 18px;
    border-color: transparent;
    order: 1;
  }
}

@media screen and (min-width: 1440px) {
  .modalButtons {
    display: flex;
    gap: 24px;
    justify-content: flex-start;
    flex-direction: row;
  }

    .cancelButton {
      font-size: 18px;
    }
}
