.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 7%;
    margin-right: 7%;
}

.largeScreen {
    @media (min-width: 1440px) {
       
    }
}

.mediumScreen {
    @media (min-width: 768px) and (max-width: 1439px) {
        
    }
}

.smallScreen {
    @media (max-width: 767px) {
        
    }
}