.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .header {
    padding-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding-top: 12px;
    margin-left: 112px;
    margin-right: 112px;
  }
}
