/*  ---------- MOBILE STYLES------- */
.background {
  padding-bottom: 0;
  height: fit-content;
  background-image: url("../../images/mobile/bg-element-main-page-1x.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow-y: auto;
}

.welcomeBackground {
  background-image: url("../../images/mobile/bg-main-page-1x.png");
}
.container {
  max-width: 312px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .background {
    background-image: url("../../images/mobile/bg-element-main-page-2x.png");
  }
  .welcomeBackground {
    background-image: url("../../images/mobile/bg-main-page-2x.png");
  }
}

/* ---------- TABLET STYLES------- */
@media screen and (min-width: 768px) {
  .background {
    padding-bottom: 32px;
    background-image: url("../../images/tablet/bg-element-main-page-1x.png");
  }
  .welcomeBackground {
    background-image: url("../../images/tablet/bg-main-page-1x.png");
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .background {
      background-image: url("../../images/tablet/bg-element-main-page-2x.png");
    }
    .welcomeBackground {
      background-image: url("../../images/tablet/bg-main-page-2x.png");
    }
  }
  .container {
    max-width: 736px;
  }
}

/*  ---------- DESKTOP STYLES------- */

@media screen and (min-width: 1440px) {
  .background {
    padding-bottom: 280px;
    background-image: url("../../images/desktop/bg-element-main-page-1x.png");
  }
  .welcomeBackground {
    background-image: url("../../images/desktop/bg-element-main-page-1x.png"),
      url("../../images/desktop/bg-main-page-1x.png");
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .background {
      background-image: url("../../images/desktop/bg-element-main-page-2x.png");
    }
    .welcomeBackground {
      background-image: url("../../images/desktop/bg-element-main-page-2x.png"),
        url("../../images/desktop/bg-main-page-2x.png");
    }
  }
  .container {
    max-width: 1248px;
  }
}
