:root {
  --black: #2f2f2f;
  --white: #ffffff;
  --blue: #407bff;
  --light-blue: #ecf2ff;
  --medium-blue: #9ebbff;
  --red: #ef5050;
  --orange: #ff9d43;
  --soft-blue: #d7e3ff;
}

/*  ---------- COMMON STYLES------- */
/*  ---------- MOBILE STYLES------- */

.pageContainer {
  background-image: url("../../../public/img-bg-welcome/welcome-bg-mobile@1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  padding-left: 20px; /* тимчасові падінги, потім підлаштуються під маржин всієї сторінки */
  padding-right: 20px;
}

.infoContainer {
  /* padding-bottom: 40px; */
  padding: 24px 0 40px 0; /* тимчасові падінги, потім підлаштуються під маржин всієї сторінки */
}

/*  ---------- TABLET STYLES------- */
@media screen and (min-width: 768px) {
  .pageContainer {
    background-image: url("../../../public/img-bg-welcome/welcome-bg-tablet@1x.png");
    padding-left: 32px;
    padding-right: 32px;
  }

  .infoContainer {
    padding: 40px 0 50px 0;
  }
}

/*  ---------- DESKTOP STYLES------- */

@media screen and (min-width: 1440px) {
  .pageContainer {
    /* background-attachment: fixed; */
    background-size: contain;
    background-position: bottom;
    background-image: url("../../../public/img-bg-welcome/welcome-bg-desktop@1x.png");
    padding-left: 112px;
    padding-right: 112px;
  }

  .infoContainer {
    display: flex;
    gap: 80px;
    padding: 80px 104px 294px 98px;
  }
}
