.tables {
  width: 280px;
  padding: 24px 8px;
  margin-left: auto;
  border-radius: 10px;
  background-color: var(--soft-blue);
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
}

.month {
  height: 506px;
}


.infoContainer {
  position: relative;
  background-image: url("../../img/desk-bubbles.svg"), url("../../img/bottle-home-mob.svg");
  background-size:contain, contain;
  background-position: center center, center 90px;
  background-repeat: repeat, no-repeat;
}

.generalContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .tables {
    width: 704px;
    padding: 32px 24px;
  }

  .infoContainer {
    background-image: url("../../img/desk-bubbles.svg"), url("../../img/bottle-home-tab.svg");
    background-size: contain, contain;
    background-position: center 20px, center 20px;
  }

  .containerWater {
    padding: 32px 24px;
    background-image: none;
    /* Видаляємо фон для WaterRatioPanel */
  }
}

@media screen and (min-width: 1440px) {
  .infoContainer {
    background-image: url("../../img/desk-bubbles.svg"), url("../../img/bottle-home-desk.svg");
    background-size: contain, contain;
    background-position: center -30px, center -30px;
  }

  .tables {
    width: 592px;
  }

  .generalContainer {
    flex-direction: row;
    gap: 32px;
    padding-bottom: 40px;
  }

  .tables {
    margin-left: 0;
  }

  .infoContainer {
    margin: auto 0;
  }
}