.tables {
  width: 280px;
  padding: 24px 8px;
  margin-left: auto;
  border-radius: 10px;
  background-color: var(--soft-blue);
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
}

.month {
  height: 506px;
}

@media screen and (min-width: 768px) {
  .tables {
    width: 704px;
    padding: 32px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .tables {
    width: 592px;
  }
}

.containerWater {
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
  border-radius: 10px;
  padding: 24px 8px;
}

.infoContainer {
  background-image: url("../../images/mobile/bottle-home-screen-1x.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .infoContainer {
    background-image: url("../../images/tablet/bottle-home-screen-1x.png");
    background-position: center 0;
  }
}

@media screen and (min-width: 1440px) {
  .infoContainer {
    background-image: url("../../images/desktop/bottle-home-screen-1x.png");
    background-position: center -30px;
  }
}

@media screen and (min-width: 768px) {
  .containerWater {
    padding: 32px 24px;
  }
}

.generalContainer {
  display: flex;
  flex-direction: column;
  
}

@media screen and (min-width: 1440px) {
  .generalContainer {
    flex-direction: row;

  }

  .tables {
    margin-left: 0;
  }

  .containerWater {
    width: 704px;
  }

  .infoContainer{
      width: 50%;
  }
}