.tables {
  width: 280px;
  padding: 24px 8px;
  margin-left: auto;
  border-radius: 10px;
  background-color: var(--soft-blue);
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
}

.infoContainer {
  background-image: url("../../images/mobile/bottle-home-screen-1x.png"),
    url("../../images/mobile/bg-element-sign-in-1x.png");
  background-size: inherit;
  background-position: center 90px;
  background-repeat: no-repeat;
}

.generalContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .tables {
    width: 704px;
    padding: 32px 24px;
  }

  .infoContainer {
    background-image: url("../../images/tablet/bottle-home-screen-1x.png"),
      url("../../images/tablet/bg-element-main-page-1x.png");
    background-position: center 20px;
  }
}

@media screen and (min-width: 1440px) {
  .infoContainer {
    background-image: url("../../images/desktop/bottle-home-screen-1x.png"),
      url("../../images/desktop/bg-element-main-page-1x.png");
    background-size: inherit;
    background-position: center -30px;
  }

  .tables {
    width: 592px;
    max-block-size: 720px;
    height: fit-content;
  }

  .generalContainer {
    flex-direction: row;
    gap: 32px;
    padding-bottom: 40px;
    background-image: url("../../images/desktop/bg-element-main-page-1x.png");
    background-size: inherit;
    background-position: center -30px;
  }

  .tables {
    margin-left: 0;
  }

  .infoContainer {
    margin: auto 0;
  }
}
