.signInPageContainer {
  width: 100%;
}

@media (min-width: 375px) and (max-width: 767px) {
  .signInPageContainer {
    width: 343px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .signInPageContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */

    width: 704px;
    height: 100%;
  }
}

@media (min-width: 1440px) {
  .signInPageContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 32px;
    width: 1440px;
  }
}
